/*========= DOCUMENT STYLING =========*/
html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}
body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    height: 700px;
    padding: 1em 2em 2em;
}

/*========= KEY FRAMES =========*/
@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}
@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

/*========= BUTTON STYLING =========*/
#buttons {
  width: 100%;
  text-align: center;
}
.button-style {
	background: #fff;
	font-size: 17px;
	padding: 7px 12px;
	font-weight: normal;
	margin: 12px;
	margin-right: 12px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	min-width: 120px;
}
.flat-red {
	border: 1px solid #c00;
    color: #c00;
}
.flat-green {
    border: 1px solid #009688;
    color: #009688;
}
.flat-blue {
    border: 1px solid #004796;
    color: #004796;
}
.flat-red:hover, .flat-red:active {
	color:#fff;
	background:#c00;
}
.flat-green:hover, .flat-green:active {
	color:#fff;
	background:#009688;
}
.flat-blue:hover, .flat-blue:active {
	color:#fff;
	background:#004796;
}

/*========= CONSOLE STYLING =========*/
#console {
	width: 100%;
	margin: 15px 0 0 0;
}
fieldset { 
    border: 1px solid black;
	margin: 0 auto;
	width: 86%;
    text-align: center;
}
legend {
	margin: 0 auto;
    padding: 0.2em 0.5em;
    border: 1px solid black;
    color: black;
	font-size: 90%;
    text-align: center;
}

p.console {
    margin: 0 auto;
    font-weight: bold;
}
span.error {
    color: red;
    font-weight: bold;
}


/*========= THUMBNAIL STYLING =========*/
#thumbnails {
	width: 100%;
	margin: 15px 0 0 0;
}
#thumbnails ul {
	list-style-type: none;
	list-style-position: outside;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#thumbnails ul li {
	width: 30%;
	height: 150px;
	display: inline-block;
    padding: 2px 0 2px 0;
    margin: 0 10px 10px 0;
    text-align: center;
}

/*========= THUMBNAIL TEXT STYLING =========*/
.headline {
    font-weight: bold;
    display: block;
}